{{#with data}}
<div class="card">
    <div class="image_blog" style="background-image: url({{img}})"></div>
    <div class="card_title">{{title}}</div>
    <div class="card_text">{{text}}</div>
    <a href="{{href}}" type="button" class="button card_button">{{button}}</a>
</div>
{{/with}}